{% load staticfiles %}

<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Nimbus{% endblock %}</title>
    <meta charset='UTF-8' />

    <!--
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/tj_logo_login.png' %}" type="image/png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    {% endblock %}

    {% block js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body data-grid-framework="b3">
    {% block body %}
    {% endblock %}
</body>
</html>
