{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Nimbus{% endblock %}</title>
    <meta charset='UTF-8' />

    <!--
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/tj_logo_login.png' %}" type="image/png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% block css %}
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />
    {% endblock %}

    {% block js %}

    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body class="notransition"{% block bodytag %}{% endblock %}>
    {% block body %}
    {% endblock %}
</body>
</html>
