{% extends "page_base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}



{% block body %}
<nav id="main-nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cloud cloud-logo"></span> Nimbus</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Welcome, {{ request.user.username }}</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <span class="col-md-2">
            <div class="upload-dropzone">
                <span class="glyphicon glyphicon-upload upload-icon"></span>
                <span class="upload-message">Drop file or click here to upload</span>
            </div>
            <ul id="media-type-selector" class="nav nav-pills nav-stacked">
                <li{% if media_type = "files" %} class="active"{% endif %}><a href="/"><span class="glyphicon glyphicon-th-large"></span> All</a></li>
                <li{% if media_type = "images" %} class="active"{% endif %}><a href="/images"><span class="glyphicon glyphicon-picture"></span> Images</a></li>
                <li{% if media_type = "links" %} class="active"{% endif %}><a href="/links"><span class="glyphicon glyphicon-link"></span> Links</a></li>
                <li{% if media_type = "text" %} class="active"{% endif %}><a href="/text"><span class="glyphicon glyphicon-font"></span> Text</a></li>
                <li{% if media_type = "archives" %} class="active"{% endif %}><a href="/archives"><span class="glyphicon glyphicon-compressed"></span> Archives</a></li>
                <li{% if media_type = "audio" %} class="active"{% endif %}><a href="/audio"><span class="glyphicon glyphicon-music"></span> Audio</a></li>
                <li{% if media_type = "video" %} class="active"{% endif %}><a href="/video"><span class="glyphicon glyphicon-facetime-video"></span> Video</a></li>
                <li{% if media_type = "other" %} class="active"{% endif %}><a href="/other"><span class="glyphicon glyphicon-file"></span> Other</a></li>
            </ul>
        </span>
        <div id="files" class="col-md-10">
            <h2>{% if media_type = "files" %}All {% endif %}Shared Items{% if media_type != "files" %} - {{ media_type.title }}{% endif %}</h2>
            <table class="table table-hover">
                {% for i in "12345678901234567890" %}
                    <tr>
                        <td><input type="checkbox"><a href="#">Image.png</a></td>
                        <td>Date</td>
                        <td>Views</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

</div>

{% endblock %}
