{% extends "nimbus/page_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Login
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            /* Input */
            var $username = $("input[name=username]");
            var $password = $("input[name=password]");
            if(!$username.hasClass("error") && $password.hasClass("error")) {
                $password.focus();
            } else {
                $username.focus();
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login col-md-4 col-md-offset-4">
                <div id="login-heading">
                    <img id="cloud-logo" src="{% static 'img/exports/login_logo@2x.png' %}" />
                    <h1>Nimbus</h1>
                </div>
                {% if request.GET.next %}
                    <div class="message message-next">
                        Log in to access this page.
                    </div>
                {% endif %}
                <form id="login-form" {% if auth_form.errors %}autocomplete="off"{% endif %} action="/login{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
                    {% csrf_token %}
                    {{ auth_form.username|add_class:"form-control" }}
                    {{ auth_form.password|add_class:"form-control" }}
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
