body {
    margin-bottom: 50px;
}

#main-nav {
    border-radius: 0;
}
#main-nav .navbar-brand {
    padding: 7px 15px;
}
.cloud-logo {
    vertical-align: middle;
    font-size: 36px;
}

input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-text {
    margin-left: 15px;
}

input.error {
    border-color: #d9534f;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #66afe9;
}

.btn:focus {
    outline:none!important;
}
