#main-nav {
    border-radius: 0;
}
#main-nav .navbar-brand {
    padding: 7px 15px;
}
.cloud-logo {
    vertical-align: middle;
    font-size: 36px;
}

#media-type-selector {
    margin-bottom: 50px;
}

#media-type-selector a {
    color: #777;
}

#media-type-selector li.active a {
    background-color: #428bca;;
    color: white;
}

h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    float: left;
}

.delete-files {
    float: right;
    margin-bottom: 10px;
    display: none;
}


#main-content {
    margin-left: 0;
    margin-right: 0;
}

#files {
    margin-left: -15px;
    margin-right: -15px;
    color: rgb(139, 139, 139);
}

#files input[type="checkbox"] {
    margin-right: 10px;
}

#files tr input[type="checkbox"]:checked {
    background-color: green;
}

.view-count {
    font-weight: bold;
}


.dropzone{
    text-align: center;
    border: 1px rgb(211, 211, 211) dashed;
    border-radius: 8px;
    background-color: rgb(252, 252, 252);
    margin-bottom: 1em;
    cursor: pointer;
    display: table;
    color: rgb(211, 211, 211);
    padding: 10px;
    width: 100%;
}

.dropzone.loading {
    -webkit-animation: loading-pulse 2s infinite;
}

@-webkit-keyframes loading-pulse {
    50% {color: #428bca;}
}

.dropzone.error {
    -webkit-animation: error-pulse 0.5s infinite;
}

@-webkit-keyframes error-pulse {
    50% {color: #d9534f;}
}

.upload-icon {
    font-size: 60px;
    display: table-row;
}

.dz-message {
    display: table-row;
}


@media (min-width: 992px) {
    .nav-stacked-responsive > li {
      float: none;
    }
    .nav-stacked-responsive > li + li {
      margin-top: 2px;
      margin-left: 0;
    }
}

@media (max-width: 992px) {
    .nav-stacked-responsive {
        text-align: center;
    }

    .nav-stacked-responsive>li {
        float: none;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .media-type-label {
        display: none;
    }
}

.empty-state {
    text-align: center;
}

.pager li {
    margin: 0 10px;
}
