.wrapper {
    margin: 30px auto;
    padding: 10px;
}

#text-preview {
    max-width: 640px;
}

#media-name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    margin-left: -15px;
    font-weight: bold;
    pointer-events: none;
}

#download-original {
    line-height: 50px;
    font-size: 25px;
}

#img-preview {
    text-align: center;
    padding: 0;
}

#file-download {
    text-align: center;
}

#file-icon {
    font-size: 160px;
    color: #DDD;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
}
