{% extends "nimbus/media/share_base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery-photo-resize.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".wrapper img").photoResize({
                padding: 30
            });
        });
    </script>
{% endblock %}

{% block media_preview %}
    <div id="img-preview" class="wrapper">
        <img src="{% firstof media_item.raw_ssl_url media_item.raw_url %}" alt="{{ media_item.name }}"/>
    </div>
{% endblock %}
