{% extends "nimbus/page_base.html" %}
{% load staticfiles %}

{% block title %}{{ media_item.name }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/share_preview.css' %}" />
{% endblock %}


{% block body %}
    <nav id="main-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cloud cloud-logo"></span> Nimbus</a>
            </div>
            <div class="navbar-text" id="media-name">
                {{ media_item.name }}
            </div>

            <a href="{{ media_item.raw_url }}" id="download-original" class="pull-right navbar-link">
                <span class="glyphicon glyphicon-download"></span>
            </a>
        </div>

    </nav>

    {% block media_preview %}
        <a href="{{ media_item.raw_url }}">{{ media_item.name }}</a>
    {% endblock %}
{% endblock %}
